<!-- @post.image.present? will always return true, use attached? to check presence -->
<div class="site">
  <strong><%= @post.title %></strong><br>

  <% if @post.post_image.attached? %>
    <p>
      <br>
      <%= image_tag(@post.post_image.variant(resize: "550x550!", auto_orient: true))%>
    </p>
  <% end %>

  <p>
    <h4 id="written-on-date">Written on <%= @post.published_at.strftime("%B %d %Y") %></h4>
    <%= sanitize @post.body %>
  </p>
  <% if user_signed_in? %>
    <%= link_to "Edit Post", edit_post_path %>
  <% end %>
</div>