<!DOCTYPE html>
<html>
  <head>
    <title>BlogSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-brand">
          <p class="navbar-item">
            John Cato
          </p>
        </div>
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            About
          </a>

          <a class="navbar-item">
            Posts
          </a>

          <a class="navbar-item">
            Contact
          </a>
        </div>
      </div>
    </div>
    <% if flash[:notice]%><p class="notice"><%= flash[:notice] %></p><% end %>
    <% if flash[:alert]%><p class="alert"><%= flash[:alert] %></p><% end %>
    <%= yield %>
  </body>
</html>
