<!DOCTYPE html>
<html>
  <head>
    <title>BlogSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="header">
        <div id="navbarBasicExample" class="navbar-menu">
          <!-- <div class="navbar-brand"> 
            <%= link_to "John Cato", root_path, class: "navbar-item"%>
          </div> !-->
          <div class="navbar-menu">
            <span id="name-title">
              <%= link_to "John Cato", root_path, class: "navbar-item title is-4" %>
            </span>
            <div class="navbar-start" , style="flex-grow: 1; justify-content: center;">
              <div class="navbar-brand">

                <a class="navbar-item">
                  Home
                </a>

                <%= link_to "About", about_path, class: "navbar-item" %>

                <%= link_to "Contact", contact_path, class: "navbar-item" %>

              </div>
            </div>

            <div class="navbar-end">
              <% if user_signed_in? %>
                <div class="navbar-item">
                  <%= link_to "New Post", new_post_path, class: "button is-link is-small" %>
                </div>
                <div class="navbar-item">
                  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button is-danger is-small" %>
                </div>  
              <% else %>
                <div class="navbar-item">
                  <strong><%= link_to "Log in", new_user_session_path, class: "button is-primary is-small" %></strong>
                </div>
              <% end %>
            </div> 
          </div>
        </div>
      </div>  
    </div>

    <% if flash[:notice]%><p class="notice"><%= flash[:notice] %></p><% end %>
    <% if flash[:alert]%><p class="alert"><%= flash[:alert] %></p><% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
